<!-- Navbar starts here -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark mb-2">
  <a class="navbar-brand" routerLink="">MyMovies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link nav-font" href="#"  routerLink='/home/movies'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-font" routerLink='/favourite/movies'>Favourite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-font float-right" href="#" (click)="logout()">Logout</a>
      </li>   
    </ul>
  </div>  
</nav>
<!-- Navbar ends here -->


