/*css for add button*/
.btn-add{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-top: 12px;
}

/*css for update button*/
.btn-update{
  position: absolute;
  bottom: 0px;
  right: 90px;
  margin-top: 12px;
}

/*media query for small devices */
@media (min-width: 768px) and (max-width: 800px) {
  /*css for add button*/
  .btn-add {
   width:35%;
   font-size: 12px;
   padding:3px;
  }
}