<!-- For movie Search bar -->
<div class="col-md-6 col-sm-6 my-3 mx-auto">
  <form>
  <div class="input-group">
    <input type="text" class="form-control inputstyle"  [(ngModel)]="movieSearch" required pattern="[a-zA-Z0-9]+" (keydown.enter)="$event.preventDefault()" placeholder="    Search movie..." name="movieTitle">
    <span class="input-group-btn ml-2">
      <button [disabled]="movieSearch?.length<2" class="btn btn-secondary set-icon inputstyle" type="submit" (click)="searchMovie()"> <i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
  <span class="error pl-4">{{msg}}</span>
</div>
